html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font: Helvetica, sans-serif;
    font-size: 14.5px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*==========LOGO START=========*/

.logo {
    display: flex;
    width: 96px;
    height: 34px;
    margin-top: 25px;
    margin-left: 20px;  
}


/*==========LOGO END=========*/

/*==========SEARCH BAND START=========*/


.search {
    display: flex;
    width: 692px;
    height: 44px;
    border-radius: 30px;
    border: 1px solid rgb(223, 223, 223);
    outline: none;
    font-size: 20px;
    margin-left: 160px;
    margin-top: -40px;
}

input {
    text-indent: 20px;
}

input:hover {
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 0 0 11px rgb(228, 228, 228);
    
}


.equis {
    position: absolute;
    top: 22px;
    margin-left: 763px;
    width: 24px;
    height: 44px; 
    opacity: 0.5; 
}


.verticallinesearch {
    position: absolute;
    top: 20px;
    margin-left: 800px;
    width: 0.000001px;
    opacity: 0.1;
}

#glassblue {
    position: absolute;
    top: 33px;
    margin-left: 810px;
    width: 24px;
    height: 24px;

}

/*==========END OF SEARCH BAND=========*/


a:hover {
    text-decoration: underline;
}

.toprightbuttons {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    position: absolute;
    top: 26px;
    right: 40px;
}

.dots {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 7px;
    right: 103px;
    fill: rgb(95, 95, 95);
}

.signin {
    /* all: revert; */
    color: #ffffff;
    background-color: #1a73e8;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 14px;
    font-family: Arial, sans-serif;
    width: 98px;
    height: 38px;
    position: absolute;
    top: 25px;
    right: 25px;
   
}

.signcolor {
    color: white;
    text-decoration: none;
    
}


/*==========HORIZONTAL LINE START=========*/

.linedivider {
    
    border: none;
    height: 1px;
    background-color: rgb(236, 236, 236);
    margin-top: 15px;
    
}

/*==========HORIZONTAL LINE ENDD=========*/




/*==========SEARCH BUTTONS START=========*/

.containerbuttons {
    margin-left: 159px;
    margin-top: 28px;
}

svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.buttonsgeneral {
    margin-top: -3px;
    margin-left: 20px;   
}

.linksbuttons {
    list-style-type: none;
    text-decoration: none;
    color: grey;
}

.containergeneralbut {
    margin-left: 100px;
    display: inline-block;
}

.nakedbuttons {
    margin-right: 20px;
   
}

/*==========SEARCH BUTTONS END=========*/












/*==========HEADINGS & PARAGRAPHS START=========*/


h3 {
    padding-left: 190px;
    font-size: 20px;
    color: #1a0dab;
}

.toph4 {
    margin-top: 27px;
    color: black;
    text-decoration: none;
    color: #323335; 
    margin-bottom: 9px;
}

.toph4:hover {
    text-decoration: none;
    list-style-type: none;
}

h4 {
    padding-left: 190px;
    color: #323335;
    margin-bottom: 5px;
    margin-top: 3px;
}


p {
    width: 578px;
    height: auto;
    margin-left: 190px;
    padding-bottom: 40px;
    padding-top: 16px;
    color: #2f3031;
    line-height: 1.5em;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.bottomp {
    margin-top: 7px;
    width: 1200px;
}

h5 {
    margin-left: 190px;
    margin-top: 15px;
    color: gray;
    font-size: 15.5px;
}


/*==========HEADINGS & PARAGRAPHS END=========*/







/*================ASK START==============*/


.ask {
    color: rgb(82, 82, 82);
    font-size: 19px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.askdivider {
    width: 652px;
    margin-right: 888px;
    border: none;
    height: 1px;
    background-color: rgb(228, 228, 228);
    clear: both;
    margin-left: 190px;
}

.finalline {
    margin-bottom: 50px;
}


#arrowask1 {
    position: absolute;
    margin-left: 820px;
    margin-top: 30px;
    width: 24px;
    height: 24px;
    opacity: 0.5;
}

/*================ASK END==============*/




/*================RELATED SEARCHES START==============*/

#related {
    font-size: 23px;
    display: inline-block;
    margin-bottom: 2px;
    
}

.tresbutton {
    width: 18px;
    height: 18px;
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
    opacity: 0.6;
 
}

/*================RELATED SEARCHES END==============*/



/*================THREE LOGOS START==============*/



#arrow1 {
    all: unset;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 570px;
    margin-top: 13px;
}

#arrow2 {
    all: unset;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 570px;
    margin-top: 13px;
}

#arrow3 {
    all: unset;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 570px;
    margin-top: 13px;
}

.logosrelated {
    width: 50px;
    height: 50px;
    margin-left: 189px;
    margin-right: 16px;
    float: left;   
}

#website {
    font-size: 18px;
    margin-top: 25px;
}

#websitedevs {
    font-size: 18px;
    margin-top: 25px;
}


#webtools {
    font-size: 18px;
    margin-top: 25px;
}

/*================THREE LOGOS END==============*/



/*================BUTTONSGLASS START==============*/

.leftbuttons {
    border-radius: 30px;
    /* background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22%23cccccc%22%20class%3D%22glass%22%20focusable%3D%22false%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050%2050%22%3E%3Cpath%20d%3D%22M15.5%2014h-.79l-.28-.27A6.471%206.471%200%200%200%2016%209.5%206.5%206.5%200%201%200%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat; */
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 12px;
    display: block;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 15px;
    background-color: #f1f3f4;
    color: #202124;
    font-weight: 600;
    
    
    
}

.rightbuttons {
    border-radius: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
    display: block;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 15px;
    background-color: #f1f3f4;
    color: #202124;
    font-weight: 600;

}

.textbut {
    margin-left: 30px;
}

.some-page-wrapper {
    margin: 15px;
    background-color: rgb(255, 255, 255);
    width: 650px;
    margin-left: 190px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

  }
  
  .blue-column {

    height: 250px;
    width: 318px; 
  }
  
  .green-column {
    height: 250px;
    width: 318px;
    margin-left: 12px;
  }
/*================BUTTONSGLASS END==============*/





/*================GOOGLE LONG START==============*/
.googlelong {
    font-size: 38px;
    margin-left: 200px;
}

#givemeo {
    color: #F4B400;
}

#givemeored {
    color:#DB4437;
    margin-left: -8px;
    margin-right: -8px;   
}

#givegf {
    color: #4285F4;
}


#givemelt {
    color: #4285F4;
    margin-left: -8px;
}


#greenl {
    color: #0F9D58;
    margin-left: -8px;
}

#laste {
    color: #DB4437;
    margin-left: -8px;
}


#arrowfake {
    all: unset;
    color: #4285F4;
    font-size: 20px;
    margin-left: 9px;
    margin-bottom: -10px;
}
/*================GOOGLE LONG END==============*/




/*================NUMBER LINKS START==============*/
.containernlinks {
    margin-left: 425px;
    margin-bottom: 20px;
    font-size: 16px;
}

.linknumbers {
    color: grey;
    list-style-type: none;
    text-decoration: none;
    margin-right: 8.5px;
}

.linknumbers:hover {
    text-decoration: underline;
}

#nextbutton {
    color: grey;
    margin-left: 50px;
}
/*================NUMBER LINKS END==============*/




/*=================FOOTER ELEMENTS START================= */
.loc1 {
    font-weight: bold;
    color: rgb(95, 95, 95);
}

.loc2 {
    color:grey;
    display: inline-block;
}

.loc3 {
    color:grey;
    display: inline-block;
}

.loc4 {
    color:grey;
    display: inline-block;
}

footer {
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 65px;
    position: static;
    bottom: 0;
    border: 0.5px solid rgb(139, 139, 139);
    clear: both;
}

.location {
    margin-left: 190px;
    padding-top: 5px;
}

.buttondiv {
    margin-left: 190px;
    margin-top: 20px;
}

.buttonbottom {
    display: inline-block;
    list-style-type: none;
    margin-right: 35px;
    text-decoration: none;
    color: grey;
}

.buttonbottom:hover {
    text-decoration: none;
    color: rgb(71, 71, 71);
}
/*=================FOOTER ELEMENTS END================= */
