html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font: Helvetica, sans-serif;
    font-size: 14.5px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover {
    text-decoration: underline;
}

.toprightbuttons {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    position: absolute;
    top: 26px;
    right: 40px;    
}

.dots {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -5px;
    right: 85px;
    fill: rgb(95, 95, 95);
}

.signin {
    all: revert;
    color: #ffffff;
    background-color: #1a73e8;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 14px;
    font-family: Arial, sans-serif;
    width: 96px;
    height: 36px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.signcolor {
    color: white;
}

/* a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
} */



h3 {
    padding-left: 200px;
    font-size: 20px;
    color: #1a0dab;
}

.toph4 {
    margin-top: 170px;
    color: black;
    text-decoration: none;
    color: #323335; 
}

.toph4:hover {
    text-decoration: none;
    list-style-type: none;
}

h4 {
    padding-left: 200px;
    color: #323335;
}


p {
    width: 578px;
    height: auto;
    padding-bottom: 0px;
    margin-left: 200px;
    padding-bottom: 50px;
    color: #4d5156;
}


.bottomp {
    margin-top: 7px;
    width: 1200px;
}

.loc1 {
    font-weight: bold;
}

.loc2 {
    color:grey;
}

.loc3 {
    color:grey;
}

.loc4 {
    color:grey;
}

footer {
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 65px;
    position: static;
    bottom: 0;
    border: 0.5px solid rgb(139, 139, 139);
}

.location {
    margin-left: 200px;
    padding-top: 5px;
}

.buttondiv {
    margin-left: 200px;
    margin-top: 20px;
}

.buttonbottom {
    display: inline-block;
    list-style-type: none;
    margin-right: 35px;
    text-decoration: none;
    color: grey;
}

.buttonbottom:hover {
    text-decoration: none;
    color: rgb(71, 71, 71);
}


